.header{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border-bottom: 3px solid #3310de;
    padding: 15px;

}

.title{
    
    text-align: center;
    margin-bottom: 10px;
}

.date{
    font-size: clamp(0.75rem, 0.602rem + 0.74vw, 1.25rem);
    padding-left: 10px;
    margin-bottom: 5px;
}