.news{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    background-color: aliceblue;
    height: 100%;
    padding: 10px;
    
}

.news_img_block{
    width: 64px;
    height: 64px;
    flex-shrink: 0;
}



.content{
    display: flex;
    flex-direction: column;
    gap: 16px;

    .title{
        font-size:clamp(1rem, 3vw, 2rem) ;
    }

}
footer{
    font-size: clamp(0.75rem, 0.602rem + 0.74vw, 1.25rem);
}
