.catigorys_box{
    /* align-self: flex-start; */
    display: flex;
    /* flex-direction: row; */
    gap:8px;
    overflow: hidden;
    scrollbar-width: none;
}

.catigory,
.activ{
    border: 2px solid #21035c;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    background-color: antiquewhite;
    cursor: pointer;
}

.activ{
    background-color: aquamarine;
    cursor: default;
}

::-webkit-scrollbar{
    display: none;
}